.profile {
    position: absolute;
    width: 445px;
    height: 70px;
    margin-right: 993px; 
    margin-top: -650px; 
    flex-shrink: 0;
    border-radius: 20px 8px 20px 0px;
    background: #584DD4;

    .avatar_profile {
        position: absolute;
        width: 65px;
        height: 52px;
        flex-shrink: 0;
        margin-left: 220px;
        margin-top: 11px;
        border-radius: 10%;
    }

    .user-name {
        position: absolute;
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        margin-left: 310px;
        margin-top: 20px;
    }


    .button_profile_settings_icon {
        width: 40px; 
        height: 40px;
        cursor: pointer;
        position: absolute;
        margin-top: 10px;
        margin-left: 10px; 
    }        
}    