.sidebar {
    width: 440px;
    height: 650px;
    margin-top: 90px; 
    border-radius: 20px 15px 20px 20px;
    background: rgba(68, 65, 218, 0.77);  
    
    .block-search {
        .field-search-user {
            position: absolute;
            width: 360px !important;
            height: 40px !important;
            margin-left: 5px;
            margin-top: 90px;
            max-width: 360px;
            flex-shrink: 0;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            
            .text-field {
                position: absolute;
                color: rgba(0, 0, 0, 0.34);
                font-family: Inter;
                font-size: 27px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 40px;
                box-sizing: border-box;
            }
            
            .search {
                position: absolute;
                width: 25px;
                height: 81px;
                flex-shrink: 0;
                margin-top: -20px;
            }          
    
        }

        .select-field {
            position: absolute;
            width: 65px;
            margin-left: 370px;
            margin-top: 95px;
            appearance: none;
            border: none;
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            background-color: #fff;
            color: #333;
            cursor: pointer;
        }
    }        

    .result-search {
        .user {
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }  

            position: absolute;
            width: 35%;
            height: 100px; 
            margin-top: 150px;
            transition: background-color 0.3s ease;

            .result-user-avatar {
                width: 60px;
                height: 59px;
                margin-top: 10px; 
                margin-right: 10px;
            }

            .result-user-name {
                color: #FFF;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 75px;
                margin-top: -65px;
            }
        }
    }


    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    
        .user-profile-modal {
            position: relative;
            background: #fff;
            padding: 100px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
            img {
                width: 100px; 
                height: 100px; 
                border-radius: 50%;
                margin-bottom: 10px;
                margin-left: 270px;
                margin-top: -60px;
            }
        
            .h1 {
                color: #333;
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
        
            p {
                color: #333;
                margin-bottom: 5px;
            }
        
            .close-button {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #e1d9d951;
                border: none;
                cursor: pointer;
                font-size: 16px;
                color: #333;

                &:hover {
                    background-color: #e1d9d9c3; 
                }
            }

            button {
                background-color: #4caf50;
                color: #fff;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 5px;
                cursor: pointer;
                border-radius: 4px;
                transition: background-color 0.3s;
        
                &:hover {
                    background-color: #45a049;
                }
            }
        }
    }
  
    
    .chats {
        .side-chat {
            position: relative;
            margin-bottom: -120px;

    
            .pin {
                position: absolute;
                width: 55px;
                height: 500px;
                margin-left: 370px;
                margin-top: -70px;
            }
    
            .chat-companion-avatar {
                width: 60px;
                height: 59px;
                margin-top: 150px;
                margin-right: 10px;
            }
    
            .chat-name-companion {
                color: #FFF;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0;
                margin-left: 75px;
                margin-top: -65px;
            }
    
            .chat-message {
                width: 287px;
                height: 80px;
                color: #FFF;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 75px;
                margin-top: 5px;
            }
    
            .line {
                width: 440px;
                height: 2px;
                margin-top: -50px;
                background: #8E7F7F;
            }
        }
    }    
}