.sidebar {
    width: 440px;
    height: 650px;
    margin-top: 90px;
    flex-shrink: 0;  
    border-radius: 20px 15px 20px 20px;
    background: rgba(68, 65, 218, 0.77);  
    
    
    .field-search-user {
        position: absolute;
        width: 360px !important;
        height: 40px !important;
        margin-left: 40px;
        margin-top: 90px;
        max-width: 360px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        
        .text-field {
            color: rgba(0, 0, 0, 0.34);
            font-family: Inter;
            font-size: 27px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 40px;
            box-sizing: border-box;
        }
        
        .search {
            position: absolute;
            width: 25px;
            height: 81px;
            flex-shrink: 0;
            margin-top: -20px;
        }          
    }

    .chats {
        display: flex;
        flex-direction: column;

        .side-chat {
            
            align-items: 50px;

            .pin {
                position: absolute;
                width: 55px;
                height: 500px;
                flex-shrink: 0;
                margin-left: 370px;
                margin-top: -70px;
            }

            .chat-companion-avatar {
                width: 60px;
                height: 59px;
                margin-top: 150px;
                margin-right: 10px;
                flex-shrink: 0;
            }
    
            .chat-name-companion {
                color: #FFF;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0;
                margin-left: 75px;
                margin-top: -65px;
            }

            .chat-message {
                width: 287px;
                height: 80px;
                flex-shrink: 0;
                color: #FFF;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 75px;
                margin-top: 5px;
            }

            .line {
                width: 440px;
                height: 2px;
                margin-top: -50px;
                background: #8E7F7F;
            }

            margin-bottom: -120px;
        }
    }
}