.chat {
    left: 33%;
    max-width: 900px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    .messages {
        position: relative;
        overflow-x: hidden;
        max-width: 900px;
        max-height: 495px;
        top: -78px;

        .bubble-own-message,
        .bubble-companion-message {
            position: relative;
            max-width: 37%; 
            padding: 6px 12px;
            margin-bottom: 10px; 
        }

        .bubble-own-message {
            background: #8DA4F1;
            border-radius: 20px 20px 0px 20px;
            left: 62%;
        }

        .bubble-companion-message {
            background: #FFF;
            border-radius: 20px 20px 20px 0px;
            left: 1%;
        }

        .text-own-message,
        .text-companion-message {
            color: var(--Label-Color-Dark-Primary, #FFF); 
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            margin-top: -1px;
        }

        .text-companion-message {
            color: var(--Label-Color-Light-Primary, #000); 
            margin-top: 1px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }

    .block-input {
        position: relative;
        max-width: 900px;
        height: 80px;
        max-height: 100px;
        background: #FFF;
        border-radius: 20px 20px 20px 0px;
        bottom: 33px;
        top: 500px;

        .field-input {
            position: relative;
            color: rgba(0, 0, 0, 0.34);
            font-family: Inter;
            font-size: 27px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 10px;
            box-sizing: border-box;
            border-bottom: none;
            margin-top: 30px;
            width: 100%;
        }

        .clip, .img {
            position: absolute;
            height: 50px;
            cursor: pointer;
        }

        .clip {
            left: 70%;
            top: 10px;
        }

        .img {
            left: 80%;
            top: 10px;
        }

        .box-send {
            position: absolute;
            width: 6%;
            height: 60px;
            left: 820px;
            top: 10px;
            border-radius: 20px;
            background: rgba(68, 65, 218, 0.77);
            cursor: pointer;

            .send {
                width: 50px;
                height: 50px;
                margin-left: 1px;
                margin-top: 5px;
            }
        }
    }

    .select-chat {
        position: absolute;
        color: black;
        top: -500px; 
        left: 30%; 
        text-align: center;
        font-size: 35px;
    }
}